In [1]:
import pandas as pd
import numpy as np

In [2]:
edges = pd.DataFrame({'source':[0,1,2],
                     'target':[2,2,3],
                     'weight':[3,4,5],
                     'color':['red','blue','blue']})

In [3]:
edges

   source  target  weight color
0       0       2       3   red
1       1       2       4  blue
2       2       3       5  blue

In [4]:
#one-hot-encoding
pd.get_dummies(edges)

   source  target  weight  color_blue  color_red
0       0       2       3           0          1
1       1       2       4           1          0
2       2       3       5           1          0

In [5]:
pd.get_dummies(edges["color"])

   blue  red
0     0    1
1     1    0
2     1    0

In [7]:
pd.get_dummies(edges[["color"]])

   color_blue  color_red
0           0          1
1           1          0
2           1          0

In [9]:
#one-hot-encoding
weight_dict = {3:"M",4:"L",5:"XL"}
edges["weight_sign"] = edges['weight'].map(weight_dict)
edges

   source  target  weight color weight_sign
0       0       2       3   red           M
1       1       2       4  blue           L
2       2       3       5  blue          XL

In [11]:
edges = pd.get_dummies(edges)
edges

,source,target,weight,color_blue,color_red,weight_sign_L,weight_sign_M,weight_sign_XL
0,0,2,3,0,1,0,1,0
1,1,2,4,1,0,1,0,0
2,2,3,5,1,0,0,0,1

In [14]:
edges.values

array([[0, 2, 3, 0, 1, 0, 1, 0],
       [1, 2, 4, 1, 0, 1, 0, 0],
       [2, 3, 5, 1, 0, 0, 0, 1]], dtype=int64)

In [17]:
from sklearn import preprocessing

raw_data= {'regiment':['Nighthawks','Nighthawks','Nighthawks','Nighthawks','Dragons','Dragons','Dragons','Dragons','Scouts','Scouts','Scouts','Scouts'],
          'company':['1st','1st','2nd','2nd','1st','1st','2nd','2nd','1st','1st','2nd','2nd'],
          'postTestScore':[25,94,57,62,70,25,94,57,62,70,62,70]}
df = pd.DataFrame(raw_data,columns=['regiment','company','postTestScore'])
bins = [0,25,50,75,100] # Define bins as 0 to 25, 25 to 50, 60 to 75, 75 to 100
group_names = ['Low','Okay','Good','Great'] #구간명
categorise = pd.cut(df['postTestScore'],bins,labels=group_names)
df['categorise'] = categorise

In [31]:
df

      regiment company  postTestScore categorise
0   Nighthawks     1st             25        Low
1   Nighthawks     1st             94      Great
2   Nighthawks     2nd             57       Good
3   Nighthawks     2nd             62       Good
4      Dragons     1st             70       Good
5      Dragons     1st             25        Low
6      Dragons     2nd             94      Great
7      Dragons     2nd             57       Good
8       Scouts     1st             62       Good
9       Scouts     1st             70       Good
10      Scouts     2nd             62       Good
11      Scouts     2nd             70       Good

In [18]:
raw_example = df.values
data = raw_example.copy()

In [19]:
#one hot encoding by sklearn

one_hot_enc = preprocessing.OneHotEncoder()
one_hot_enc.fit(data[:,0].reshape(-1,1)) # label encoding 으로 먼저 변경

onehotlabels = one_hot_enc.transform(data[:,0].reshape(-1,1)).toarray()
onehotlabels

array([[0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]])

In [24]:
data[:,0].reshape(-1,1)

array([['Nighthawks'],
       ['Nighthawks'],
       ['Nighthawks'],
       ['Nighthawks'],
       ['Dragons'],
       ['Dragons'],
       ['Dragons'],
       ['Dragons'],
       ['Scouts'],
       ['Scouts'],
       ['Scouts'],
       ['Scouts']], dtype=object)

In [29]:
one_hot_enc.get_feature_names()

array(['x0_Dragons', 'x0_Nighthawks', 'x0_Scouts'], dtype=object)