### 참고 링크
https://rfriend.tistory.com/276

In [1]:
import numpy as np
import pandas as pd

In [4]:
mul_index = pd.MultiIndex.from_tuples([
    ('cust_1', '2015'), ('cust_1', '2016'),('cust_2', '2015'), ('cust_2', '2016')])

In [5]:
mul_index

MultiIndex([('cust_1', '2015'),
            ('cust_1', '2016'),
            ('cust_2', '2015'),
            ('cust_2', '2016')],
           )

In [6]:
data = pd.DataFrame(data= np.arange(16).reshape(4,4),
                   index = mul_index,
                   columns=['prd1','prd2','prd3','prd4'],
                   dtype='int')

In [8]:
#example data
data

             prd1  prd2  prd3  prd4
cust_1 2015     0     1     2     3
       2016     4     5     6     7
cust_2 2015     8     9    10    11
       2016    12    13    14    15

### Stack

In [12]:
# stack()
data_stacked = data.stack()
data_stacked

cust_1  2015  prd1     0
              prd2     1
              prd3     2
              prd4     3
        2016  prd1     4
              prd2     5
              prd3     6
              prd4     7
cust_2  2015  prd1     8
              prd2     9
              prd3    10
              prd4    11
        2016  prd1    12
              prd2    13
              prd3    14
              prd4    15
dtype: int64

In [13]:
#이게전부인덱스
data_stacked.index

MultiIndex([('cust_1', '2015', 'prd1'),
            ('cust_1', '2015', 'prd2'),
            ('cust_1', '2015', 'prd3'),
            ('cust_1', '2015', 'prd4'),
            ('cust_1', '2016', 'prd1'),
            ('cust_1', '2016', 'prd2'),
            ('cust_1', '2016', 'prd3'),
            ('cust_1', '2016', 'prd4'),
            ('cust_2', '2015', 'prd1'),
            ('cust_2', '2015', 'prd2'),
            ('cust_2', '2015', 'prd3'),
            ('cust_2', '2015', 'prd4'),
            ('cust_2', '2016', 'prd1'),
            ('cust_2', '2016', 'prd2'),
            ('cust_2', '2016', 'prd3'),
            ('cust_2', '2016', 'prd4')],
           )

In [16]:
#인덱싱
data_stacked['cust_1']['2015'][['prd2','prd3']]

prd2    1
prd3    2
dtype: int64

### Unstacked

In [20]:
data_stacked

cust_1  2015  prd1     0
              prd2     1
              prd3     2
              prd4     3
        2016  prd1     4
              prd2     5
              prd3     6
              prd4     7
cust_2  2015  prd1     8
              prd2     9
              prd3    10
              prd4    11
        2016  prd1    12
              prd2    13
              prd3    14
              prd4    15
dtype: int64

In [30]:
# level 은 어느 인덱스를 raw(열)로 사용할 것인지 정한다.
data_stacked_unstacked = data_stacked.unstack(level=-1)
data_stacked_unstacked

             prd1  prd2  prd3  prd4
cust_1 2015     0     1     2     3
       2016     4     5     6     7
cust_2 2015     8     9    10    11
       2016    12    13    14    15

In [23]:
data_stacked.unstack(level=0)

           cust_1  cust_2
2015 prd1       0       8
     prd2       1       9
     prd3       2      10
     prd4       3      11
2016 prd1       4      12
     prd2       5      13
     prd3       6      14
     prd4       7      15

In [26]:
data_stacked.unstack(level=1)

             2015  2016
cust_1 prd1     0     4
       prd2     1     5
       prd3     2     6
       prd4     3     7
cust_2 prd1     8    12
       prd2     9    13
       prd3    10    14
       prd4    11    15

In [37]:
#묶여있는 그룹을 해제하기
data_stacked_unstacked.reset_index(inplace=True)

In [39]:
data_stacked_unstacked.rename(columns={'level_0':'custID','level_1':'year'})

   custID  year  prd1  prd2  prd3  prd4
0  cust_1  2015     0     1     2     3
1  cust_1  2016     4     5     6     7
2  cust_2  2015     8     9    10    11
3  cust_2  2016    12    13    14    15

In [44]:
data_stacked_unstacked.pivot(index='level_0',columns='prd1' , values= 'level_1')

prd1       0     4     8     12
level_0
cust_1   2015  2016   NaN   NaN
cust_2    NaN   NaN  2015  2016